body{
    background-color: black;
}
.h{
    text-align: center;
    background-color: blueviolet;
    border: solid white;
    border-radius: 10px;
    color: hex(#addfad);
}
.d{
    width: auto;
    height: 100px;
    text-align: center;
    background-color: rgb(92, 71, 31);
    border: solid white;
    border-radius: 10px;
}
.i{
    width: auto;
    height: 120px;
    text-align: center;
    background-color: hex(#ddd);
    border: solid skyblue;
    border-radius: 10px;
}
.v{
    width: auto;
    height: 200px;
    text-align: center;
    background-color: skyblue;
    border: solid white;
    border-radius: 10px;
}
.pp{
    color: rgb(92, 71, 31);
}
.p{
    color: hex(#dafeaf)
}